<h1 class="text-center" style="margin-bottom: 20px;">Crie um novo evento!</h1>
<form [formGroup]="eventService.eventForm" (submit)="onSubmit()">
    <!--        EVENTO         -->
    <div style="margin-bottom: 30px;">
        <h3 class="register-form-section">INFORMAÇÕES DO EVENTO</h3>
        <div class="form-group required">
        <input class="form-control" formControlName="EventName" placeholder="Nome do evento">
        <label class="text-danger" *ngIf="eventService.eventForm.get('EventName').touched && eventService.eventForm.get('EventName').errors?.required">
            <i class="fa fa-meh-o" aria-hidden="true"></i>Esse campo é obrigatório.
        </label>
        </div>
        <div class="form-group">
        <textarea class="form-control" formControlName="EventDescription" placeholder="Descrição detalhada do evento" rows="3" maxlength="1000"></textarea>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group required">
                    <label for="inputEmail4">Data de início</label>
                    <input class="form-control" type="datetime-local" formControlName="EventStartDate">
                    <label class="text-danger" *ngIf="eventService.eventForm.get('EventStartDate').touched && eventService.eventForm.get('EventStartDate').errors?.required">
                        <i class="fa fa-meh-o" aria-hidden="true"></i>Esse campo é obrigatório.
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="form-group required">
                    <label for="inputEmail4">Data de termino</label>
                    <input class="form-control" type="datetime-local" formControlName="EventEndDate">
                    <label class="text-danger" *ngIf="eventService.eventForm.get('EventEndDate').touched && eventService.eventForm.get('EventEndDate').errors?.required">
                        <i class="fa fa-meh-o" aria-hidden="true"></i>Esse campo é obrigatório.
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group required">
            <input class="form-control" type="number" formControlName="EventTicket" placeholder="Quantidade de pessoas">
            <label class="text-danger" *ngIf="eventService.eventForm.get('EventTicket').touched && eventService.eventForm.get('EventTicket').errors?.required">
                <i class="fa fa-meh-o" aria-hidden="true"></i>Esse campo é obrigatório.
            </label>
            <label class="text-danger" *ngIf="eventService.eventForm.get('EventTicket').touched && eventService.eventForm.get('EventTicket').hasError('pattern')">
                <i class="fa fa-meh-o" aria-hidden="true"></i>Valor inválido.
            </label>
        </div>
    </div>

    <!--     ENDEREÇO       -->
    <div style="margin-bottom: 30px;">
        <h3 class="register-form-section">ENDEREÇO DO EVENTO</h3>
        <div class="form-group col-md-2">
            <label for="inputState">State</label>
            <select formControlName="EventAdressPublicPlace" class="form-control">
                <option *ngFor="let publicPlace of publicPlaces" value="{{ publicPlace.id }}" selected>
                    {{ publicPlace.placeName }}
                </option>
            </select>
        </div>
        <div class="form-group required">
            <input class="form-control" type="text" formControlName="EventAdressPlaceName" maxlength="50" placeholder="Endereço">
            <label class="text-danger" *ngIf="eventService.eventForm.get('EventAdressPlaceName').touched && eventService.eventForm.get('EventAdressPlaceName').errors?.required">
                <i class="fa fa-meh-o" aria-hidden="true"></i>Esse campo é obrigatório.
            </label>
        </div>
        <div class="form-group required">
            <input class="form-control" type="text" formControlName="EventAdressCity" maxlength="50" placeholder="Cidade">
            <label class="text-danger" *ngIf="eventService.eventForm.get('EventAdressCity').touched && eventService.eventForm.get('EventAdressCity').errors?.required">
                <i class="fa fa-meh-o" aria-hidden="true"></i>Esse campo é obrigatório.
            </label>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group required">
                    <input class="form-control" type="text" formControlName="EventAdressUF" maxlength="2" placeholder="Estado">
                    <label class="text-danger" *ngIf="eventService.eventForm.get('EventAdressUF').touched && eventService.eventForm.get('EventAdressUF').errors?.required">
                        <i class="fa fa-meh-o" aria-hidden="true"></i>Esse campo é obrigatório.
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="form-group required">
                    <input class="form-control" type="text" formControlName="EventAdressCEP" maxlength="10" placeholder="CEP">
                    <label class="text-danger" *ngIf="eventService.eventForm.get('EventAdressCEP').touched && eventService.eventForm.get('EventAdressCEP').errors?.required">
                        <i class="fa fa-meh-o" aria-hidden="true"></i>Esse campo é obrigatório.
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group required">
            <input class="form-control" type="text" formControlName="EventAdressNeighborhood" maxlength="50" placeholder="Bairro">
            <label class="text-danger" *ngIf="eventService.eventForm.get('EventAdressNeighborhood').touched && eventService.eventForm.get('EventAdressNeighborhood').errors?.required">
                <i class="fa fa-meh-o" aria-hidden="true"></i>Esse campo é obrigatório.
            </label>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group required">
                    <input class="form-control" type="text" formControlName="EventAdressComplement" maxlength="50" placeholder="Complemento">
                </div>
            </div>
            <div class="col">
                <div class="form-group required">
                    <input class="form-control" type="number" formControlName="EventAdressNumber" maxlength="5" placeholder="Número">
                </div>
            </div>
        </div>
    </div>

    <!--     SUBMIT       -->
    <div class="form-row">
      <div class="form-group col-md-8 offset-md-2">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!eventService.eventForm.valid">Criar</button>
      </div>
    </div>
  </form>
