.card{
    color: #2a2a2c;
    margin: 7%;
}

.card h1,h2,h3,h4{
    color: #5f27cd;
    margin: 5px;
}
.card h1,h2,h3,h4{
    color: #5f27cd;
    margin: 5px;
}

.nav-link{
    background-color: #5f27cd;
    color: white;
    border: 1px solid #5f27cd;
    margin: 5px;
}
.nav-link:hover{
    background-color: transparent;
    color: #5f27cd;
    border: 1px solid #5f27cd;
    margin: 5px;
}

.card-title{
text-align: center;
}