<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li *ngIf="ownerEvent" class="nav-item">
        <button class="nav-link" href="#" title="Editar" (click)="toEditEvent()"><i class="fas fa-pen-alt"></i></button>
      </li>
      <li *ngIf="ownerEvent" class="nav-item">
        <button class="nav-link" href="#" title="Excluir" (click)="toDeleteEvent()"><i class="fas fa-trash"></i></button>
      </li>
      <li *ngIf="!ownerEvent && !subcribed" class="nav-item">
        <button class="nav-link" (click)="subscriberOnEvent()">
          Inscreva-se
        </button>
      </li>
      <li *ngIf="!ownerEvent && subcribed" class="nav-item">
        <button class="nav-link" (click)="removeSubscription()">
          Cancelar Inscrição
        </button>
      </li>
      <li class="nav-item">
        <h3 class="card-title"> 
          <span class="fab fa-rocketchat"> </span> {{eventInfo.eventName}}
        </h3>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h4><i class="fas fa-calendar-alt"></i> Informações Evento</h4>
    <p class="card-text"> <strong>Data Inicial:</strong> {{eventInfo.startDate}} e <strong>Data Final:</strong> {{eventInfo.endDate}}</p>
    <p class="card-text"> <strong>Descrição:</strong> {{eventInfo.eventDescription}}</p>
    <p class="card-text"> <strong>Limite de pessoas:</strong> {{eventInfo.ticketsLimit}}</p>
    <br>
    <h4><i class="fas fa-map-marked-alt"></i> Informações Endereço</h4>
    <p class="card-text"> <strong >Endereço:</strong> {{adressInfo.publicPlaceName}} {{adressInfo.placeName}}</p>
    <p class="card-text"> <strong>Número:</strong> {{adressInfo.adressNumber}}</p>
    <p class="card-text"> <strong>Bairro:</strong> {{adressInfo.neighborhood}}</p>
    <p *ngIf="adressInfo.adressComplement" class="card-text"> <strong>Complemento:</strong> {{adressInfo.adressComplement}}</p>
    <p class="card-text"> <strong>Cidade:</strong> {{adressInfo.city}}</p>
    <p class="card-text"> <strong>Estado:</strong> {{adressInfo.uf}}</p>
    <p class="card-text"> <strong>CEP:</strong> {{adressInfo.cep}}</p>
    <br>
  </div>
</div>