<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link" href="#" title="Editar"><i class="fas fa-pen-alt"></i></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#" title="Excluir"><i class="fas fa-trash"></i></a>
        </li>
        <li class="nav-item">
          <h3 class="card-title"> <i class="fab fa-rocketchat"></i> Nome do Evento</h3>
        </li>
    </ul>
  </div>
  <div class="card-body">
    <h4><i class="fas fa-calendar-alt"></i> Informações Evento</h4>
    <p class="card-text"> Data Inicial: 10/06/2019 e Data Final 10/06/2019</p>
    <p class="card-text"> Descrição Curta:</p>
    <p class="card-text"> Descrição Longa:</p>
    <p class="card-text"> Quantidade de pessoas:</p>
    <br>
    <h4><i class="fas fa-map-marked-alt"></i> Informações Endereço</h4>
    <p class="card-text"> Rua:</p>
    <p class="card-text"> Número:</p>
    <p class="card-text"> Bairro:</p>
    <p class="card-text"> Complemento:</p>
    <p class="card-text"> Cidade:</p>
    <p class="card-text"> Estado:</p>
    <p class="card-text"> CEP:</p>

    <br>
  </div>
</div>