

<div class="center">
  <div class="row">
    <div class="col-md-12">
        <table datatable [dtOptions]="dtOptions" class="table table-striped  table-info table-sm" style="width:100% ;">
            <thead>
                <tr>
                  <th>Nome Evento</th>
                  <th>Descricao Evento</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let event of datatableData" >
                  <td (click) = "redirectEvent(event.id)">{{ event.eventName }}</td>
                  <td (click) = "redirectEvent(event.id)">{{ event.eventDescription }}</td>
                </tr>
                <tr *ngIf="datatableData?.length == 0">
                    <td colspan="3" class="no-data-available">nenhum registro encontrado!</td>
                  </tr>
              </tbody>
        </table>
    </div>
  </div>
</div>