<h1 class="text-center" style="margin-bottom: 20px;">Crie um novo evento!</h1>
<form [formGroup]="eventService.editEventForm" (submit)="onSubmit()">
    <!--        EVENTO         -->
    <div style="margin-bottom: 50px;">
        <h3 class="register-form-section mb-3" style="border-bottom: 1px solid white;">INFORMAÇÕES DO EVENTO</h3>
        <div class="form-group required">
          <label>Nome do evento</label>
          <input class="form-control" formControlName="EventName" [value]="eventInfo.eventName" placeholder="Nome do evento">
          <label class="text-danger" *ngIf="eventService.editEventForm.get('EventName').touched && eventService.editEventForm.get('EventName').errors?.required">
              <i class="fa fa-meh-o" aria-hidden="true"></i>Esse campo é obrigatório.
          </label>
        </div>
        <div class="form-group">
          <label>Descrição do evento</label>
          <textarea class="form-control" [value]="eventInfo.eventDescription" formControlName="EventDescription" placeholder="Descrição detalhada do evento" rows="3" maxlength="1000"></textarea>
        </div>
        <div formGroupName="EventDates" class="row">
            <div class="col">
                <div class="form-group required">
                    <label>Data de início</label>
                    <input class="form-control" type="datetime-local" [value]="eventInfo.startDate" min="2019-01-01T00:00" max="2030-01-01T00:00" formControlName="EventStartDate">
                    <label class="text-danger" *ngIf="eventService.editEventForm.get('EventDates.EventStartDate').touched && eventService.editEventForm.get('EventDates.EventStartDate').errors?.required">
                        <i class="fa fa-meh-o" aria-hidden="true"></i>Esse campo é obrigatório.
                    </label>
                    <label class="text-danger" *ngIf="eventService.editEventForm.get('EventDates.EventStartDate').touched && eventService.editEventForm.get('EventDates.EventStartDate').errors?.invalidDate">
                        <i class="fa fa-meh-o" aria-hidden="true"></i>Data de início não pode ser maior que a data final.
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="form-group required">
                    <label>Data de termino</label>
                    <input class="form-control" type="datetime-local" [value]="eventInfo.endDate" min="2019-01-01T00:00" max="2030-01-01T00:00" formControlName="EventEndDate">
                    <label class="text-danger" *ngIf="eventService.editEventForm.get('EventDates.EventEndDate').touched && eventService.editEventForm.get('EventDates.EventEndDate').errors?.required">
                        <i class="fa fa-meh-o" aria-hidden="true"></i>Esse campo é obrigatório.
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group required">
            <label>Limite de pessoas</label>
            <input class="form-control" type="text" mask="00000" [value]="eventInfo.ticketsLimit" formControlName="EventTicket" [validation]="false" placeholder="Quantidade de pessoas">
            <label class="text-danger" *ngIf="eventService.editEventForm.get('EventTicket').touched && eventService.editEventForm.get('EventTicket').errors?.required">
                <i class="fa fa-meh-o" aria-hidden="true"></i>Esse campo é obrigatório.
            </label>
        </div>
    </div>

    <!--     ENDEREÇO       -->
    <div class="mb-3" style="margin-bottom: 50px;">
        <h3 class="register-form-section mb-3" style="border-bottom: 1px solid white;">ENDEREÇO DO EVENTO</h3>
        <div class="row">
            <div class="form-group col-md-2">
                <label>Logradouro</label>
                <select formControlName="EventAdressPublicPlace" class="form-control">
                    <option *ngFor="let publicPlace of publicPlaces" value="{{ publicPlace.id }}" [selected]="publicPlace.id == adressInfo.publicPlaceId">
                      {{ publicPlace.placeName }}
                    </option>
                </select>
                <label class="text-danger" *ngIf="eventService.editEventForm.get('EventAdressPublicPlace').touched && eventService.editEventForm.get('EventAdressPublicPlace').errors?.required">
                    <i class="fa fa-meh-o" aria-hidden="true"></i>Esse campo é obrigatório.
                </label>
            </div>
            <div class="form-group required col-md-10">
                <label>Endereço</label>
                  <input class="form-control" type="text" [value]="adressInfo.placeName" formControlName="EventAdressPlaceName" maxlength="50" placeholder="Endereço">
                  <label class="text-danger" *ngIf="eventService.editEventForm.get('EventAdressPlaceName').touched && eventService.editEventForm.get('EventAdressPlaceName').errors?.required">
                      <i class="fa fa-meh-o" aria-hidden="true"></i>Esse campo é obrigatório.
                  </label>
              </div>
        </div>
        <div class="form-group required">
            <label>Cidade</label>
            <input class="form-control" type="text" formControlName="EventAdressCity" [value]="adressInfo.city" maxlength="50" placeholder="Cidade">
            <label class="text-danger" *ngIf="eventService.editEventForm.get('EventAdressCity').touched && eventService.editEventForm.get('EventAdressCity').errors?.required">
                <i class="fa fa-meh-o" aria-hidden="true"></i>Esse campo é obrigatório.
            </label>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group required">
                    <label>UF</label>
                    <input class="form-control" type="text" formControlName="EventAdressUF" [value]="adressInfo.uf" maxlength="2" mask="SS" placeholder="Estado">
                    <label class="text-danger" *ngIf="eventService.editEventForm.get('EventAdressUF').touched && eventService.editEventForm.get('EventAdressUF').errors?.required">
                        <i class="fa fa-meh-o" aria-hidden="true"></i>Esse campo é obrigatório.
                    </label>
                </div>
            </div>
            <div class="col">
              <div class="form-group required">
                  <label>CEP</label>
                <input class="form-control" type="text" formControlName="EventAdressCEP" mask="0000000000" [value]="adressInfo.cep" [validation]="false" placeholder="CEP">
                <label class="text-danger" *ngIf="eventService.editEventForm.get('EventAdressCEP').touched && eventService.editEventForm.get('EventAdressCEP').errors?.required">
                    <i class="fa fa-meh-o" aria-hidden="true"></i>Esse campo é obrigatório.
                </label>
              </div>
            </div>
        </div>
        <div class="form-group required">
            <label>Bairro</label>
            <input class="form-control" type="text" formControlName="EventAdressNeighborhood" [value]="adressInfo.neighborhood" maxlength="50" placeholder="Bairro">
            <label class="text-danger" *ngIf="eventService.editEventForm.get('EventAdressNeighborhood').touched && eventService.editEventForm.get('EventAdressNeighborhood').errors?.required">
                <i class="fa fa-meh-o" aria-hidden="true"></i>Esse campo é obrigatório.
            </label>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group required">
                    <label>Complemento</label>
                    <input class="form-control" type="text" formControlName="EventAdressComplement" [value]="adressInfo.adressComplement" maxlength="50" placeholder="Complemento">
                </div>
            </div>
            <div class="col">
                <div class="form-group required">
                    <label>Número</label>
                    <input class="form-control" type="text" mask="00000" formControlName="EventAdressNumber" [value]="adressInfo.adressNumber" [validation]="false" placeholder="Número">
                    <label class="text-danger" *ngIf="eventService.editEventForm.get('EventAdressNumber').touched && eventService.editEventForm.get('EventAdressNumber').errors?.required">
                        <i class="fa fa-meh-o" aria-hidden="true"></i>Esse campo é obrigatório.
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!--     SUBMIT       -->
    <div class="form-row">
      <div class="form-group col-md-8 offset-md-2">
        <button type="submit" class="btn btn-primary btn-block"  >Editar</button>
      </div>
    </div>
  </form>

<!--[disabled]="!eventService.editEventForm.valid"-->













<!--<form class="was-validated">

  <h1> Eventos <i class="fab fa-rocketchat"></i>EventHub</h1><br><br>
  <h2 style="border-bottom: 1px solid white;">Informações evento</h2><br>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="data-inicial">Data Inicial</label>
        <input type="date" class="form-control" id="data-inicial" placeholder="Data Inicial" required>
        <div class="invalid-feedback">
          Por favor preencher a data inicial.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="data-final">Data Final</label>
        <input type="date" class="form-control" id="data-final" placeholder="Data Final" required>
        <div class="invalid-feedback">
          Por favor preencher a data Final.
        </div>
      </div>
    </div>
    <br>
  <h2 style="border-bottom: 1px solid white;">Informações Endereço</h2><br>
    <div class="form-row">
              <div class="form-group col-md-9">
                <label for="Email">Email</label>
                <input type="email" class="form-control" id="Email" required placeholder="Email">
              </div>
              <div class="form-group col-md-3">
                <label for="numero">Número</label>
                <input type="number" class="form-control" id="numero" required placeholder="Número">
              </div>
            </div>
            <div class="form-group">
              <label for="endereco">Endereço</label>
              <input type="text" class="form-control" id="endereco" required placeholder="Peencher Endereço">
            </div>
            <div class="form-group">
              <label for="bairro">Bairro</label>
              <input type="text" class="form-control" id="bairro" required placeholder="Peencher Bairro">
            </div>
            <div class="form-group">
              <label for="complemento">Complemento</label>
              <input type="text" class="form-control" id="complemento" placeholder="Preencher Complemento">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">Cidade</label>
                <input type="text" class="form-control" id="inputCity" required>
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">UF</label>
                <select id="inputState" class="form-control" required>
                  <option value="AC">Acre</option>
                  <option value="AL">Alagoas</option>
                  <option value="AP">Amapá</option>
                  <option value="AM">Amazonas</option>
                  <option value="BA">Bahia</option>
                  <option value="CE">Ceará</option>
                  <option value="DF">Distrito Federal</option>
                  <option value="ES">Espírito Santo</option>
                  <option value="GO">Goiás</option>
                  <option value="MA">Maranhão</option>
                  <option value="MT">Mato Grosso</option>
                  <option value="MS">Mato Grosso do Sul</option>
                  <option value="MG">Minas Gerais</option>
                  <option value="PA">Pará</option>
                  <option value="PB">Paraíba</option>
                  <option value="PR">Paraná</option>
                  <option value="PE">Pernambuco</option>
                  <option value="PI">Piauí</option>
                  <option value="RJ">Rio de Janeiro</option>
                  <option value="RN">Rio Grande do Norte</option>
                  <option value="RS">Rio Grande do Sul</option>
                  <option value="RO">Rondônia</option>
                  <option value="RR">Roraima</option>
                  <option value="SC">Santa Catarina</option>
                  <option value="SP">São Paulo</option>
                  <option value="SE">Sergipe</option>
                  <option value="TO">Tocantins</option>
                  <option value="EX">Estrangeiro</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip">CEP</label>
                <input type="text" class="form-control" id="inputZip" required pattern= "\d{5}-?\d{3}" maxlength="9">
              </div>
                <div class="form-group col-md-9">
                  <label for="nome">Nome Evento</label>
                  <input type="text" class="form-control" id="nome" required placeholder="Peencher Nome">
                </div>
                <div class="form-group col-md-3">
                  <label for="nome">Quantidade de ingreços</label>
                  <input type="number" class="form-control" id="nome" required placeholder="Peencher Nome">
                </div>
    </div>
    <h2>Detalhes Eventos</h2><hr><br>
    <div class="mb-3">
      <label for="descricao-curta">Descrição Curta</label>
      <textarea class="form-control" id="descricao-curta" placeholder=" Por favor preencha a descrição curta" required></textarea>
      <div class="invalid-feedback">
        Por favor preencha a descrição Curta.
      </div>
    </div>

    <div class="mb-3">
        <label for="descricao-longa">Descrição Longa</label>
        <textarea class="form-control" id="descricao-longa" placeholder=" Por favor preencha a descrição longa" required></textarea>
        <div class="invalid-feedback">
          Por favor preencha a descrição Longa.
        </div>
    </div>

    <div class="form-row">
        <button type="reset" class="btn btn-info">Limpar</button>
        <button type="submit" class="btn btn-danger">Excluir</button>
    </div>
  </form>
-->