<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand" href="#"><i class="fab fa-rocketchat"></i>EventHub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="eventhub/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="eventhub/eventos-inscritos">Eventos inscritos<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="eventhub/eventos-criados">Eventos criados<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="eventhub/criar-evento">Criar evento <span class="sr-only">(current)</span></a>
        </li>
        
      </ul>
      
      <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item dropdown">
              <a class="my-2 my-sm-0 nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" style="font-weight: bolder; font-size: larger;" aria-expanded="false">
                  {{userName}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li class="dropdown-item">
                    <a class="dropdown-item" href="eventhub/user/profile">Perfil <span class="sr-only">(current)</span></a>
                  </li>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item btn btn-primary my-2 my-sm-0" type="button" (click)="onLogout()" style="background: transparent; border: transparent;">Sair</button>
              </div>
            </li>
          </ul>
      </form>
    </div>
  </nav>
