<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <!-- Twitter properties -->
        <add key="twitter.baseurl" value="https://api.twitter.com" />
        <add key="twitter.appid" value="py2O8NqmRQzaJCWzTigwvUolY" />
        <add key="twitter.appsecret" value="3lMsLhtFYnrsGPgqjVj7DTYW5mNJZGUauT8GhRDblvbLmCfhEd" />
        
        <!-- Facebook properties -->
        <add key="facebook.appid" value="412268042729337" />
        <add key="facebook.appsecret" value="ba75ac7497a95f93aef3a629be09f764" />
        
        <!-- Google Calendar properties -->
        <add key="google.calendar.appid" value="1096581191116-5ee78kmkthcahuhjr6bifpaooq34icct.apps.googleusercontent.com" />
        <add key="google.calendar.appsecret" value="9ojQerHg5M3zdXkZ_fVBFXpr" />
    </appSettings>
</configuration>
