<div class="row mt-2">
    <div class="col-md-2 ml-3">
        <p *ngIf="hasTwitterLogin" class="float-right" style="color: white;">Já esta logado com o Twitter</p>
        <button *ngIf="!hasTwitterLogin" type="button" class=" float-right btn btn-info" (click)="twitterLogin()">Login with twitter</button>
    </div>
    <div class="col-md-2">
        <p *ngIf="hasGoogleLogin" style="color: white;">Já esta logado com o Google</p>
        <button *ngIf="!hasGoogleLogin" class="btn btn-info" type="button" (click)="googleLogin()">Login with google</button>
    </div>
</div>


<div class="mt-4">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-3">
                <label class="label" for="input-nome">Nome:</label>
                <input type="text" class="form-control" id="input-nome" name="input-nome" type="text" style="width: inherit;">
            </div>
            <div class="col-md-3 ml-5" >
                <label class="label" for="input-email">Email:</label>
                <input type="text" class="form-control" id="input-email" name="input-email" type="text" style="width: inherit;">
            </div>
            <div class="col-md-3 ml-5" >
                <label class="label" for="input-nome">Senha:</label>
                <input type="text"  class="form-control" id="input-nome" name="input-nome" type="text" style="width: inherit;">
            </div>
        </div>
        <div class="row mt-4">
                <div class="col-md-1">
                    </div>
                <div class="col-md-1 label col-md-11">
                        ENDEREÇO:
                    </div>
        </div>
        <div class="row information">
            <div class="col-md-1">
                </div>
            <div class="col-md-3">
                <label class="label" for="input-pais">País:</label>
                <input type="text" class="form-control" id="input-cidade" name="input-nome" type="text" style="width: inherit;">
            </div>
            <div class="col-md-3 ml-5" >
                <label class="label" for="input-estado">Estado:</label>
                <input type="text" class="form-control" id="input-rua" name="input-email" type="text" style="width: inherit;">
            </div>
            <div class="col-md-3 ml-5" >
                <label class="label" for="input-Cidade">Cidade:</label>
                <input type="text"  class="form-control" id="input-rua" name="input-nome" type="text" style="width: inherit;">
            </div>
        </div>
        <div class="row information">
                <div class="col-md-1">
                    </div>
                <div class="col-md-3">
                    <label class="label" for="input-bairro">Bairro:</label>
                    <input type="text" class="form-control" id="input-cidade" name="input-nome" type="text" style="width: inherit;">
                </div>
                <div class="col-md-3 ml-5" >
                    <label class="label" for="input-rua">Rua:</label>
                    <input type="text" class="form-control" id="input-rua" name="input-email" type="text" style="width: inherit;">
                </div>
                <div class="col-md-3 ml-5" >
                    <label class="label" for="input-numero">Numero:</label>
                    <input type="text"  class="form-control" id="input-rua" name="input-nome" type="text" style="width: inherit;">
                </div>
            </div>
        <div class="row mt-4" style="padding-left:575px;">
            <div class="col-md-10">
                    <button id="btn-save-inf" class=" float-right btn btn-success">Salvar Informações</button>                
            </div>
        </div>
        

</div>