
    
<div class="pb-2 mt-4 mb-2 border-bottom text-center" style="color: ivory;">
        <button id="btn-save-inf" (click) = "Voltar()" class=" float-right btn btn-success">Voltar</button>
        <h3>TROCAR SENHA</h3>
  </div>

  <div class="row align-center">
      
        <div class="col-md-3" style="">
                <label  class="label" for="input-old-password">Senha Antiga:</label>
                <input  [(ngModel)] = "senhaAntinga" class="form-control" id="input-old-password"  type="text" style="width: inherit;">
            </div>
        </div>
    <div class="row align-row">
        <div class="col-md-3" style="">
            <label  class="label" for="input-new-password">Senha Nova:</label>
            <input  [(ngModel)] = "senhaNova" class="form-control" id="input-new-password"  type="text" style="width: inherit;">
        </div>
    </div>  
    <div class="row align-row">
        <div class="col-md-3" style="">
            <label  class="label" for="input-new-password-confirmation">Comfirme a senha:</label>
            <input  [(ngModel)] = "senhaNovaConf" class="form-control" id="input-new-password-confirmation"  type="text" style="width: inherit;">
        </div>
        <div class="col-md-3" style="paddeing-top: 3%;">
            <input type="button"(click) = "AlterarSenha()" value="Alterar Senha" class="btn bnt-input btn-info">
        </div>
    </div>
  
