<div class="pb-2 mb-2 border-bottom text-center" style="color: ivory; margin-top: 100px;">
        <button id="btn-save-inf" (click)="Voltar()" class=" float-right btn btn-info">Voltar</button>
        <h3>TROCAR SENHA</h3>
</div>

<form [formGroup]="service.formPassword" (submit)="changePassword()">
    <div class="row align-center">   
    <div class="col-md-3">
        <label class="label" for="input-old-password">Senha Atual:</label>
        <input class="form-control" id="input-old-password" maxlength="15" formControlName="OldPassword" type="password" style="width: inherit;">
    </div>
    </div>
    <div formGroupName="NewPasswords">
        <div class="row align-row">
            <div class="col-md-3">
                <label class="label" for="input-new-password">Senha Nova:</label>
                <input class="form-control" id="input-new-password" maxlength="15" formControlName="NewPassword" type="password" style="width: inherit;">
                <label class="text-danger" *ngIf="service.formPassword.get('NewPasswords.NewPassword').touched && service.formPassword.get('NewPasswords.NewPassword').errors?.minlength">
                    <i class="fa fa-meh-o" aria-hidden="true"></i> Tamanho mínimo da senha é de 4 digítos!
                </label>
            </div>
        </div>  
        <div class="row align-row">
            <div class="col-md-3">
                <label class="label" for="input-new-password-confirmation">Confirme a senha:</label>
                <input class="form-control" id="input-new-password-confirmation" maxlength="15" formControlName="NewPasswordConfirm" type="password" style="width: inherit;">
                <label class="text-danger" *ngIf="service.formPassword.get('NewPasswords.NewPasswordConfirm').touched && service.formPassword.get('NewPasswords.NewPasswordConfirm').errors?.passwordMismatch">
                    <i class="fa fa-meh-o" aria-hidden="true"></i> As senhas não estão iguais!</label>
            </div>
            <div class="col-md-3" style="padding-top: 3%;">
                <button type="submit" class="btn btn-success" [disabled]="!service.formPassword.valid">Alterar Senha</button>
            </div>
        </div>
    </div>
</form>
  
