.align-center{
    padding-top: 3%;
    padding-left: 3%;
}
.align-row{
    padding-top: 1%;
    padding-left: 3%;
}
.label
{
display: block;
text-align: left;
width: 300px;
white-space: normal;
color: white;
font: arial;
}